<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="Nuget" value="https://www.nuget.org/api/v2/" />
    </packageSources>
    <!-- Define mappings by adding package patterns beneath the target source. -->
    <packageSourceMapping>
        <!-- https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping -->
        <packageSource key="Nuget">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>